#menu{
    background: red;
    display: flex;
    justify-content: center;
    color:white;
    padding:1em 0 1em 0;
}

#header{
    background: blue;
    display: flex;
    justify-content: center;
    color:white;
    padding:3em 0 3em 0;
}

#grid{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;

}

#content{
    background: green;
    display: flex;
    justify-content: center;
    color:white;
    padding:3em 0 3em 0;
}

#side{
    background: greenyellow;
    display: flex;
    justify-content: center;
    color:white;
    padding:20em 0 20em 0;
}

#footer{
    background: rgb(151, 112, 61);
    display: flex;
    justify-content: center;
    color:white;
    padding:2.51em 0 2.51em 0;
}